.container {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background: #ed5564;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.loader-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
  flex-wrap: wrap;
}
.loader {
  border: solid 1px #fff;
  padding: 30px;
  margin: 10px;
  min-width: 60px;
}

.l1-first-circle {
  transform-origin: 16.6% 50%;
  transform: scale(0.5);
  animation: explosion 1s infinite;
}

.l1-second-circle {
  transform-origin: 50% 50%;
  transform: scale(0.5);
  animation: explosion 1s 0.143s infinite;
}

.l1-third-circle {
  transform-origin: 83.3% 50%;
  transform: scale(0.5);
  animation: explosion 1s 0.276s infinite;
}

.l2-circle {
  transform-origin: 50% 50%;
  transform: scale(0);
  stroke-width: 10;
  animation: ripple 1s infinite;
}

.l3-circle {
  animation: fall 1.5s infinite;
}

.l4-rect1 {
  transform-origin: 50% 50%;
  animation: shrink 0.5s infinite linear alternate;
}

.l4-rect2 {
  transform-origin: 50% 50%;
  animation: shrink 0.5s 0.5s infinite linear alternate;
}

.l5-text {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  stroke-width: 1;
  animation: text-trace 2.5s ease-in infinite;
}

@keyframes explosion {
  0% {
    transform: scale(0.5);
  }
  28.6% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    stroke-width: 20;
  }
  100% {
    transform: scale(1);
    stroke-width: 5;
  }
}

@keyframes fall {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  40% {
    transform: translateY(50%);
    animation-timing-function: ease;
  }
  60% {
    transform: translateY(20%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes shrink {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.5);
  }
}

@keyframes text-trace {
  0% {
    stroke-dashoffset: 2000;
    fill: transparent;
  }
  50% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 1700;
    fill: #fff;
  }
}
